# Google Data Analytics Capstone: Bike-Share Case Study

<img src="shutterstock_364832024.jpg" style="width:650px;height:450px;">

## About this project
You are a junior data analyst working in the marketing analyst team at Cyclistic, a bike-share company in Chicago. The director
of marketing believes the companyâ€™s future success depends on maximizing the number of annual memberships. Therefore,
your team wants to understand how casual riders and annual members use Cyclistic bikes differently. From these insights,
your team will design a new marketing strategy to convert casual riders into annual members. But first, Cyclistic executives
must approve your recommendations, so they must be backed up with compelling data insights and professional data
visualizations

# 1. **Ask**

### **Business Task** 
The goal of this project is to convert casual users into members in order to maximize the company's future success. To accomplish this, we need to gain a better understanding of casuals' behavior. A comparison of casual and member users would be helpful.

### **Stakeholders**
Lily Moreno: Director of Marketing.

Cyclistic Executive Team: The notoriously detail-oriented executive team will decide whether to approve the
recommended marketing program.

 Cyclistic Marketing Analytics Team: A team of data analysts who are responsible for collecting, analyzing, and
reporting data that helps guide Cyclistic marketing strategy.

# 2. **Prepare**

* The dataset have a different name because Cyclistic is a fictional company. However, it's real data and it comes from [Divvy](https://divvybikes.com/) Bikes from Chicago, IL.

* [Motivation International Inc.](https://divvy-tripdata.s3.amazonaws.com/index.html) has licensed the data for public use.

* A 12-month history of cyclist trips has been downloaded. The period between March 2021 and February 2022.

* Due to the total number of rows exceeding one million, I cannot use Excel for this project. I'll be using Python.

# 3. **Process**

In [1]:
#Importing Pandas and NumPy

import pandas as pd
import numpy as np

In [2]:
#importing datasets

df1 = pd.read_csv("202103-divvy-tripdata.csv") 
df2 = pd.read_csv("202104-divvy-tripdata.csv")
df3 = pd.read_csv("202105-divvy-tripdata.csv")
df4 = pd.read_csv("202106-divvy-tripdata.csv")
df5 = pd.read_csv("202107-divvy-tripdata.csv")
df6 = pd.read_csv("202108-divvy-tripdata.csv")
df7 = pd.read_csv("202109-divvy-tripdata.csv")
df8 = pd.read_csv("202110-divvy-tripdata.csv")
df9 = pd.read_csv("202111-divvy-tripdata.csv")
df10 = pd.read_csv("202112-divvy-tripdata.csv")
df11 = pd.read_csv("202201-divvy-tripdata.csv")
df12 = pd.read_csv("202202-divvy-tripdata.csv")

In [3]:
#Concatenate all dataframes into one and checking it.

data_frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]
df = pd.concat(data_frames)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5667986 entries, 0 to 115608
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   month               int64
 5   day                 object
 6   hour                int64
 7   start_station_name  object
 8   start_station_id    object
 9   end_station_name    object
 10  end_station_id      object
 11  start_lat           float64
 12  start_lng           float64
 13  end_lat             float64
 14  end_lng             float64
 15  member_casual       object
dtypes: float64(4), int64(2), object(10)
memory usage: 735.1+ MB

In [4]:
#Creating a back up so in case I make a mistake I don't need to start from 0.

df_copy = df.copy(deep=True)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5667986 entries, 0 to 115608
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   month               int64
 5   day                 object
 6   hour                int64
 7   start_station_name  object
 8   start_station_id    object
 9   end_station_name    object
 10  end_station_id      object
 11  start_lat           float64
 12  start_lng           float64
 13  end_lat             float64
 14  end_lng             float64
 15  member_casual       object
dtypes: float64(4), int64(2), object(10)
memory usage: 735.1+ MB

In [5]:
#Checking for unique values

df_copy.nunique()

ride_id               5666039
rideable_type               3
started_at             457457
ended_at               458006
month                      12
day                         7
hour                       24
start_station_name        853
start_station_id          843
end_station_name          854
end_station_id            845
start_lat              412053
start_lng              391237
end_lat                440821
end_lng                401534
member_casual               2
dtype: int64

* The number of unique "ride_id" doesn't match the number of df's entries.
* There more station names than station id. This mean many station names are linked to multiple station id's

In [6]:
#Confirming "ride_id" duplicates. Each "ride_id" must be unique.

df_copy.ride_id.duplicated().sum()

1947

In [7]:
#Dropping ride_id duplicates

df_copy.drop_duplicates(subset='ride_id', keep= 'first', inplace= True)
df_copy.ride_id.duplicated().sum()

0

In [8]:
#Checking for NaN values

df_copy.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
month                      0
day                        0
hour                       0
start_station_name    712677
start_station_id      712674
end_station_name      761541
end_station_id        761541
start_lat                  0
start_lng                  0
end_lat                 4615
end_lng                 4615
member_casual              0
dtype: int64

In [9]:
#Dropping all the NaN values

df_copy.dropna(inplace= True)
df_copy.isna().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
month                 0
day                   0
hour                  0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

# 4. **Analyze**

I would like to compare:
* The total % of user type
* The % of "member" that use either classic, electric bike or docked_bike 
* The % of "casual" that use either classic, electric bike or docked_bike
* the ride distance average between "member" vs "casual"
* The ride length average between "member" vs "casual"
* The usage between "member" vs "casual" on hour, day, month  
* The station most and least popular

In [10]:
#Percentage of total users

round(df_copy["member_casual"].value_counts(normalize = True) * 100, 1)

member    55.7
casual    44.3
Name: member_casual, dtype: float64

In [11]:
#The percentage of "member" and "casual" type that uses classic or electric bike

round(df_copy.groupby("member_casual")["rideable_type"].value_counts(normalize = True) * 100, 2).unstack(1)

rideable_type  classic_bike  docked_bike  electric_bike
member_casual
casual                61.51        15.15          23.34
member                77.46          NaN          22.54

To calculate the average ride distance between "member" vs "casual". 
First, I'll need to calculate the distance for each row by using Haversine library

In [12]:
#Haversine can calculate the distance (in various units) between two points on Earth using their latitude and longitude. 
#from haversine import haversine, Unit 
#lyon = (45.7597, 4.8422) # (lat, lon)
#paris = (48.8567, 2.3508)

def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km
    

df_copy["ride_distance"] = haversine(df_copy["start_lat"],df_copy["start_lng"],df_copy["end_lat"],df_copy["end_lng"])
df_copy["ride_distance"]

0         0.861738
1         1.290671
2         1.653764
3         1.885278
4         4.310199
            ...
115589    0.000000
115604    0.000000
115606    0.010744
115607    0.000000
115608    0.000000
Name: ride_distance, Length: 4629557, dtype: float64

In [13]:
#Calculating the average ride distance between "casual" vs "member"

df_copy.groupby("member_casual")["ride_distance"].describe().round(2)

                   count  mean   std  min   25%   50%   75%      max
member_casual
casual         2052128.0  2.18  2.14  0.0  0.93  1.70  2.89  1188.78
member         2577429.0  2.07  1.79  0.0  0.88  1.55  2.71    31.54

In [14]:
#To calculate the average time ride length between "casual" vs "member". 
#First, I'll need to change the data type to datetime type and then "ended_at" - "started_at".

df_copy["started_at"] = pd.to_datetime(df_copy["started_at"])
df_copy["ended_at"] = pd.to_datetime(df_copy["ended_at"])
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4629557 entries, 0 to 115608
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   month               int64
 5   day                 object
 6   hour                int64
 7   start_station_name  object
 8   start_station_id    object
 9   end_station_name    object
 10  end_station_id      object
 11  start_lat           float64
 12  start_lng           float64
 13  end_lat             float64
 14  end_lng             float64
 15  member_casual       object
 16  ride_distance       float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 635.8+ MB

In [15]:
df_copy["ride_length"] = df_copy["ended_at"] - df_copy["started_at"]
df_copy["ride_length"]

0        0 days 00:04:00
1        0 days 00:10:00
2        0 days 00:16:00
3        0 days 00:29:00
4        0 days 00:18:00
               ...
115589   0 days 00:01:00
115604   0 days 00:00:00
115606   0 days 00:00:00
115607   0 days 00:00:00
115608   0 days 00:00:00
Name: ride_length, Length: 4629557, dtype: timedelta64[ns]

In [16]:
#Calculating the average ride length between "casual" vs "member"

df_copy.groupby("member_casual")["ride_length"].describe()

,count,mean,std,min,25%,50%,75%,max
member_casual,,,,,,,,
casual,2052128,0 days 00:32:23.620719565,0 days 04:33:45.164141085,-1 days +23:04:00,0 days 00:09:00,0 days 00:17:00,0 days 00:31:00,38 days 20:24:00
member,2577429,0 days 00:13:02.645450175,0 days 00:17:18.843969724,-1 days +23:06:00,0 days 00:06:00,0 days 00:10:00,0 days 00:16:00,1 days 00:55:00

In [18]:
#The total number of rides per month between "casual" and "member" users.

pd.crosstab(df_copy['member_casual'], df_copy['month'])

month,1,2,3,4,5,6,7,8,9,10,11,12
member_casual,,,,,,,,,,,,
casual,12601,15134,75640,120412,216794,304106,369295,341333,292797,189015,69951,45050
member,67495,74002,130045,177767,234126,304522,322779,332805,328072,288733,185848,131235

In [20]:
#The busiest days of the week for both users

round(df_copy.groupby("member_casual")["day"].value_counts(normalize = True) * 100, 2)

member_casual  day
casual         Saturday     22.73
               Sunday       19.73
               Friday       14.13
               Monday       11.28
               Thursday     10.94
               Wednesday    10.66
               Tuesday      10.53
member         Wednesday    15.67
               Tuesday      15.43
               Thursday     14.67
               Friday       14.25
               Monday       13.90
               Saturday     13.83
               Sunday       12.25
Name: day, dtype: float64

In [21]:
#The most hours with most occurrences. 
#Peak hours 7-8 and 16-17-18 for "member" are high than then rest

round(df_copy.groupby("member_casual")["hour"].value_counts(normalize = True) * 100, 2).unstack(1)

hour,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
member_casual,,,,,,,,,,,,,,,,,,,,,
casual,2.07,1.51,0.96,0.5,0.33,0.44,0.95,1.77,2.44,2.97,...,7.12,7.47,8.19,9.57,8.61,6.60,4.78,4.05,3.74,2.87
member,0.99,0.65,0.36,0.2,0.24,1.03,2.82,5.18,5.97,4.28,...,5.54,6.48,8.56,10.81,8.96,6.33,4.18,3.06,2.31,1.57

In [22]:
round(df_copy[df_copy["member_casual"] == "casual"]["start_station_name"].value_counts(normalize = True) * 100, 1)

Streeter Dr & Grand Ave                  3.1
Millennium Park                          1.6
Michigan Ave & Oak St                    1.4
Shedd Aquarium                           1.1
Theater on the Lake                      1.0
                                        ...
Indiana Ave & 133rd St                   0.0
351                                      0.0
Whipple St & Roosevelt Rd                0.0
Wilton Ave & Diversey Pkwy - Charging    0.0
Mayfield & Roosevelt Rd                  0.0
Name: start_station_name, Length: 840, dtype: float64

In [23]:
round(df_copy[df_copy["member_casual"] == "member"]["start_station_name"].value_counts(normalize = True) * 100, 1)

Clark St & Elm St                  0.9
Kingsbury St & Kinzie St           0.9
Wells St & Concord Ln              0.9
Wells St & Elm St                  0.8
Dearborn St & Erie St              0.7
                                  ...
Kildare Ave & 26th St              0.0
Lyft Driver Center Private Rack    0.0
Maplewood Ave & 59th St            0.0
Sacramento Blvd & Polk St          0.0
Artesian Ave & 55th St             0.0
Name: start_station_name, Length: 824, dtype: float64

In [24]:
#Output dataset CSV to Tableau

df_copy.to_csv('bike_share_cleaned.csv', index = False)

# 5. **Share**

For this project the visual are viewable on Tableau Public [click here.](https://public.tableau.com/views/bike_share_viz/TotalUsers?:language=en-US&:display_count=n&:origin=viz_share_link)

# 6. **Act**

### Conclusions:
* The majority of the riders are member users.

* The average trip time for casual riders was 32 minutes, while the average for members was 13 minutes

* During the summer months, casuals outnumber member riders especially on weekends. In cold months, there are fewer rides from casuals. member riders are more consistent throughout the year.

* Members bike the most during rush hours on weekdays. On weekends, casual riders outnumber them at any time of the day.

* Bike stations near the lakes and parks are the most popular for casual riders. Members are more spread out throughout the city. More into the suburbs.

* The most common type of ride among Casual and Member riders is the Classic Bike. The use of electric bikes increases during winter months, especially for Casual users.

### Recommendations:
* Introduce an annual membership plan that allows unlimited minutes and miles/kilometers on weekends.

* Consider offering a summer membership plan that enables riders to use bikes for unlimited distance and/or time. During during winter rides are restricted.

* Offer a membership plan that allows users to ride bikes if they are picked up and dropped off at nearby stations near the lake, parks, and downtown.